body{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
    font-family: "Kalam";
    font-weight: bold;
    background: #347847 url("zoo.jpg") no-repeat left top;
    text-shadow: 2px 2px 5px white;
}

#name, #type, #food, #del {
    width: inherit;
    height: inherit;
    font-size: 20px;
    font-family: "Kalam";
}

#create, #feed, #delete{
    height: inherit;
    width: inherit;
    font-size: 25px;
    cursor: pointer;
    font-family: "Kalam";
}

#container{
    position: fixed;
    left: 5%;
    top: 73px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    border: 5px solid white;
}

#list, #keep{
    background-color: white;
    font-weight: bold;
}

#each{
    font-weight: lighter;
    line-height: 2.0;
}

#log{
    font-weight: lighter;
    line-height: 2.0;
}

#container2{
    position: fixed;
    left: 65%;
    width: 30%;
    top: 105px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    z-index: -1;
}

#keep{
    position: fixed;
    left: 65%;
    width: 30%;
    bottom: 595px;
}