body{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    /*background-image: url("zoo.jpg");*/
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight: bold;
    background: #347847 url("zoo.jpg") no-repeat left top;
}

#name, #type, #food {
    width: inherit;
    height: inherit;
    font-size: 20px;
    font-family: "Times New Roman";
}

#create, #feed{
    height: inherit;
    width: inherit;
    font-size: 25px;
    cursor: pointer;
    font-family: "Times New Roman";
}

#container{
    position: relative;
    left: 5%;
    bottom: 300px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}

#list, #keep{
    background-color: white;
    font-weight: bold;
}

#each{
    font-weight: lighter;
    line-height: 2.0;
}

#log{
    font-weight: lighter;
    line-height: 2.0;
}

#container2{
    position: relative;
    left: 65%;
    width: 30%;
    bottom: 530px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    z-index: -1;
}